#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# Do not build with MySQL, Postgres or Redis
export TURN_NO_MYSQL=1
export TURN_NO_PQ=1
export TURN_NO_HIREDIS=1

override_dh_auto_install:
	true

%:
	dh $@  --builddirectory=.
